    </div>
    <div class="fixed-bottomm p-3 bg-dark text-center text-light">
        &copy; <%- new Date().getFullYear(); %> Leonel Rodriguez WEB
    </div>
    <!-- SCRIPT BOOTSTRAP -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>